{% extends 'control_panel/main.html' %}
{% block content %}
    <div class="member">
        <div id="first-col">
                <div class="window profile-info">
                    <img src="{{ member.img.url }}" alt="..." width="100" height="100" style="border-radius: 50%;">
                    <h5>{{ member.first_name | capfirst }} {{ member.last_name | capfirst }}</h5>
                    <div>
                        ilość zakupionych karnetów
                        ilość odbytych wejść
                        ilość zapłaconej gotówki
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-users"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="window profile-trainers">
                    trenerki
                </div>
                <div class="window profile-friends">
                    koleżanki z grupy z odnośnikami
                </div>
                <div class="window profile-friends">
                    historia korespondencji
                </div>
        </div>
        <div id="second-col">
                <div class="window profile-details">
                    <div class="heading">
                        <h4>Profile</h4>
                        <button type="button" class="btn btn-sm btn-outline-secondary" id="update-member">save changes</button>
                    </div>
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <label for="mfn" class="col-form-label-sm">First Name</label>
                                <input type="text" class="form-control" id="mfn" value={{ member.first_name }}>
                            </div>
                            <div class="col">
                                <label for="mln" class="col-form-label-sm">Last Name</label>
                                <input type="text" class="form-control" id="mln" value={{ member.last_name }}>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="gender" class="col-form-label-sm">Gender</label>
                                <select class="custom-select mr-sm-2" id="gender">
                                    <option value="1" {% if member.gender == 1 %}selected{% endif %}>Kobieta</option>
                                    <option value="2" {% if member.gender == 2 %}selected{% endif %}>Mężczyzna</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="bday" class="col-form-label-sm">Birth Day</label>
                                <input type="date" class="form-control" id="bday" value="{{ member.birth_date | date:"Y-m-d" }}">
                            </div>
                            <div class="col">
                                <label for="sts" class="col-form-label-sm">Status</label>
                                <select class="custom-select mr-sm-2" id="sts">
                                    <option value="1" {% if member.status == 1 %}selected{% endif %}>Aktywny</option>
                                    <option value="2" {% if member.status == 2 %}selected{% endif %}>Nieaktywny</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="mail" class="col-form-label-sm">E-mail</label>
                                <input type="text" class="form-control" id="mail" value={{ member.mail }}>
                            </div>
                            <div class="col">
                                <label for="phone" class="col-form-label-sm">Phone number</label>
                                <input type="text" class="form-control" id="phone" value={{ member.phone }}>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="dsc" class="col-form-label-sm">Notes</label>
                                <textarea class="form-control" id="dsc" rows="4" cols="50">{{ member.notes }}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="window profile-payments">
                    <div class="heading">
                        <h4>Payments</h4>
                        <button type="button" class="btn btn-sm btn-outline-secondary">add payment</button>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}