{% extends 'control_panel/main.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">{{ member.first_name }} {{ member.last_name }}</h1>
                    </div>
                    <div class="panel-body">
                        {{ member.description }}
                    </div>
                    <table class="table">
                        <tr>
                            <th>E-mail</th>
                            <td class="text-right">{{ member.mail }}</td>
                        </tr>
                        <tr>
                            <th>Numer tel.</th>
                            <td class="text-right">{{ member.phone }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td class="text-right">{{ member.get_status_display }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Aktualny karnet</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="" class="btn btn-danger btn-block" role="button">Dodaj wejście</a>
                <a href="" class="btn btn-primary btn-block" role="button">Dodaj karnet</a>
                <a href="" class="btn btn-primary btn-block" role="button">Dodaj do grupy</a>
                <a href="{% url 'update_member' member.pk %}" class="btn btn-primary btn-block" role="button">Modyfikuj</a>
                <a href="{% url 'delete_member' member.pk %}" class="btn btn-primary btn-block" role="button">Usuń</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Historia płatności</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Karnet</th>
                                    <th class="text-center">Cena</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Opłacony?</th>
                                </tr>
                            </thead>
                            <tr class="success">
                                <td class="text-center">TEST</td>
                                <td class="text-center">TEST</td>
                                <td class="text-center">TEST</td>
                                <td class="text-center col-md-1"><input title="payment" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td class="text-center">TEST</td>
                                <td class="text-center">TEST</td>
                                <td class="text-center">TEST</td>
                                <td class="text-center col-md-1"><input title="payment" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td class="text-center">TEST</td>
                                <td class="text-center">TEST</td>
                                <td class="text-center">TEST</td>
                                <td class="text-center col-md-1"><input title="payment" type="checkbox"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}