{% extends 'control_panel/main.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form action="#" method="GET">
                    <div class="input-group">
                        {% if search is None %}
                            <input type="text" class="form-control" placeholder="Szukaj" name="search">
                        {% else %}
                            <input type="text" class="form-control" placeholder="Szukaj" name="search" value="{{ search }}">
                        {% endif %}
                        <div class="input-group-btn">
                            <input class="btn btn-primary" type="submit" value="Szukaj">
                        </div>
                    </div>
                    <span class="clearfix"></span>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">Użytkownicy</h1>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center table-primary">Imię i Nazwisko</th>
                                <th class="text-center">Numer tel.</th>
                                <th class="text-center">E-mail</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Edytuj</th>
                                <th class="text-center">Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                            <tr>
                                <td><a href="{% url 'show_member' member.pk %}">{{ member.first_name }} {{ member.last_name }}</a></td>
                                <td>{{ member.phone }}</td>
                                <td>{{ member.mail }}</td>
                                <td class="text-center">{{ member.get_status_display }}</td>
                                <td class="text-center col-md-1"><a href="{% url 'update_member' member.pk %}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td class="text-center col-md-1"><a href="{% url 'delete_member' member.pk %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center"><a href="{% url 'create_member' %}">Kliknij aby dodać nowego użytkownika</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}