html, body, .container-fluid {
    height: 100%;
    background-color: #dedcd5;
}

a {
    text-decoration: none;
    color: #888888;
}

i {
    font-size: 150%;
}

i:hover {
    color: #393873;
}

h4 {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: 0;
}

th, td {
    text-align: center;
}

.my-btn {
    background-color: #393873;
    border-color: #393873;
}

.my-btn:hover {
    background-color: #272573;
    border-color: #272573;
}

#first-row {
    height: 10%;
}

#second-row {
    min-height: 90%;
}

#third-row {
    height: 10%;

}

/* LOGO*/

.logo {
    background-color: #393873;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #E0E2ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #E0E2ED;
    text-decoration: none;
}

/*SIDE BAR*/

.side-bar {
    background-color: #393873;
    display: flex;
    flex-direction: column;
}

.side-bar a {
    display: block;
    margin: 20px;
    color: #E0E2ED;
    text-justify: auto;
}

.side-bar a:hover {
    color: #ffffff;
    text-decoration: none;
}

.side-bar i {
    margin-right: 10px;
    font-size: 125%;
}

.side-bar i:hover {
    color: #ffffff;
}

.side-bar a:first-child {
    margin-top: 40px;
}

/*NAV BAR*/

.nav-bar {
    margin-top: 15px;
    padding: 0 35px 0 35px;
    border-bottom: 1px solid #393873;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar p {
    color: #888888;
    text-transform: uppercase;
}

.nav-bar li {
    display: inline-block;
    margin-left: 20px;
}

/*CONTENT*/

.content {
    padding: 20px;
    height: 100%;
}

.window {
    background-color: #F3F4F4;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #888888;
    padding: 20px;
}

.window table i {
    font-size: 120%;
}

/*SEARCH BAR*/

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar > a {
    height: 50%;
    margin-right: 10px;
}

.search-bar > label {
    height: 50%;
}

.search-bar i {
    height: 100%;
}

/*WINDOW CONTAINER*/

.window-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.window-container div {
    margin: 10px;
    width: 23%;
}

.window-container > h5 {
    margin: 10px;
    width: 23%;
}


/*PROFILE CARD*/

.profile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-col {
    width: 30%;
}

.second-col {
    width: 68%
}

.profile > div {
    display: flex;
    flex-direction: column;
}

.profile .window {
    margin-bottom: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-info > div {
    width: 100%;
    margin: 10px 0 10px 0;
}

.profile-info img {
    margin-bottom: 30px;
    border-radius: 50%;
}

.profile-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-boxes > div {
    width: 50%;
}

.profile-boxes small {
    display: block;
    width: 100%;
}

.profile-list a {
    width: 100%;
    height: 100%;
    color: #000000;
}
.profile-list i {
    color: #888888;
    margin-right: 10px;
    font-size: 20px;
}
.profile-list a:hover {
    text-decoration: none;
    color: #272573;
}





.group-count {
    background-color: #393873;
    width: 40px
}

.search-btn {
    background-color: #F3F4F4;
    color: #888888;
    border: none;
    cursor: pointer;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

#map {
    height: 100%;
}

.group-color {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px
}

.invalid-input {
    color: #FF0000;
}

/*CALENDAR*/
#calendar {

}

#calendar td{
    padding: 0;
}

#calendar div{
    padding: 2px;
    margin: 1px;
    color: black;
}

#footer {
    border-top: 1px solid #393873;
}

/*SETTINGS*/

.save-settings {
    margin-top: 30px;
    float: right;
}





.save {
    background-color: #E0E2ED;
    background-color: #9A8D9B;
    background-color: #8B7EB4;
    background-color: #745DA5;
}