<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fit-Studio - login</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../../static/login_style_sheet.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                        <form class="form-signin" method="post" action="#">
                            {% csrf_token %}
                            {{ form }}
                            <button class="btn btn-md btn-primary btn-block" type="submit">Zaloguj się</button>
                            <br>
                            <span class="clearfix"></span>
                        </form>
                    <h5 class="text-center"><a href="{% url 'tester_login' %}">Zaloguj się jako tester</a></h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>