{% extends 'control_panel/main.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% load static %}
                <img src="{% static "images/inspiral_poledance_001.jpg" %}" height="100%" width="100%" style="{border-radius: 25px}">
            </div>
            <div class="col-md-10">
                <div class="jumbotron">
                    <h1 class="text-left"> {{ member.first_name }} {{ member.last_name }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Informacje</h1>
                    </div>
                    <table class="table">
                        <tr>
                            <th>E-mail</th>
                            <td class="text-right">{{ member.mail }}</td>
                        </tr>
                        <tr>
                            <th>Numer tel.</th>
                            <td class="text-right">{{ member.phone }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td class="text-right">{{ member.get_status_display }}</td>
                        </tr>
                        <tr>
                            <th>Aktualny karnet</th>
                            <td colspan="2" class="text-right">{{ passes.first.product.name }} / {{ passes.first.get_status_display }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Notatka</h1>
                        </div>
                        <div class="panel-body">
                            {% if member.description %}
                                {{ member.description }}
                            {% else %}
                                <a href="{% url 'update_member' member.pk %}">Dodaj notatkę</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Grupy</h1>
                        </div>

                        <table class="table">
                            {% for group in member.group_set.all %}
                                <tr>
                                    <td class="col-md-4">{{ group.name }}</td>
                                    <td class="col-md-4 text-center">{{ group.get_program_display }}</td>
                                    <td class="col-md-4 text-center">
                                        <a href="{% url 'delete_group_member' group.pk member.pk 1 %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td class="col-md-4 text-left">Użytkownik nie jest członkiem żadnej z grup</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% if passes.last is not None %}
                    <a href="{% url 'add_pass_entry' passes.first.pk %}" class="btn btn-danger btn-block" role="button">Dodaj wejście</a>
                {% else %}
                    <a href="" class="btn btn-danger btn-block" role="button">Dodaj wejście</a>
                {% endif %}
                <a href="{% url 'create_pass' member.pk %}" class="btn btn-primary btn-block" role="button">Dodaj karnet</a>
                <a href="" class="btn btn-primary btn-block" data-toggle="dropdown" role="button" aria-expanded="true">
                    Dodaj do grupy</a>
                    <ul class="dropdown-menu">
                        {% if groups is not None %}
                            {% for group in groups %}
                                <li><a href="{% url 'add_group_member' group.pk member.pk %}">{{ group.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li><a href="{% url 'create_group' %}"><strong>Dodaj nową grupę</strong></a></li>
                    </ul>
                <a href="{% url 'update_member' member.pk %}" class="btn btn-primary btn-block move" role="button">Modyfikuj</a>
                <a href="{% url 'delete_member' member.pk %}" class="btn btn-primary btn-block" role="button">Usuń</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Historia karnetów</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Karnet</th>
                                    <th class="text-center">Termin rozpoczęcia</th>
                                    <th class="text-center">Termin zakończenia</th>
                                    <th class="text-center">Wejścia</th>
                                    <th class="text-center">Dodaj wejście</th>
                                    <th class="text-center">Cena</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Edytuj</th>
                                    <th class="text-center">Usuń</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for pass in passes %}
                                <tr>
                                    <td class="text-center"><a href="" class="passes">{{ pass.product }}</a></td>
                                    <td class="text-center">{{ pass.start_date }}</td>
                                    <td class="text-center">{{ pass.end_date }}</td>
                                    <td class="text-center">{{ pass.entries }} / {{ pass.product.available_entries }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'add_pass_entry' pass.pk %}"><span class="glyphicon glyphicon-plus"></span></a>
                                    </td>
                                    <td class="text-center">{{ pass.product.price }}</td>
                                    <td class="text-center">
                                        <a class='status' href="{% url 'update_pass_status' pass.pk %}">{{ pass.get_status_display }}</a>
                                    </td>
                                    <td class="text-center">
                                        <a class='status' href="{% url 'update_pass' pass.pk %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </td>
                                    <td class="text-center col-md-1">
                                        <a href="{% url 'delete_pass' pass.pk %}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="hidden">
                                    <td colspan="8">
                                        <table class="table">
                                            <tr class="active">
                                                <th class="text-center">Data wejścia</th>
                                                <th class="text-center">Usuń wejście</th>
                                            </tr>
                                        {% for entry in pass.entry_set.all %}
                                            <tr class="text-center">
                                                <td>{{ entry.date }}</td>
                                                <td>
                                                    <a href="{% url 'delete_pass_entry' entry.pk %}">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="9" class="text-center"><a href="{% url 'create_pass' member.pk %}">Kliknij aby dodać nowy karnet</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}