{% extends 'control_panel/main.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-2">
                <h3>Dodaj nowego instruktora</h3>
                <br>
                <form class="form-signin" action="#" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-md btn-primary btn-block" type="submit">Zapisz</button>
                    <span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}