{% extends 'control_panel/add/member.html' %}
{% block add_form %}
    <div class="heading">
        <h4>Add Trainer</h4>
        <button type="submit" form="trainer-add" class="btn btn-sm btn-outline-secondary">save changes</button>
    </div>
    <form id="trainer-add" method="POST" action="#">
        {% csrf_token %}
        {{ form.first_name.errors }}
        {{ form.last_name.errors }}
        {{ form.status.errors }}
        {{ form.gender.errors }}
        {{ form.mail.errors }}
        {{ form.phone.errors }}
        {{ form.notes.errors }}
        {{ form.hourly_rate.errors }}
        {{ form.employment_type.errors }}
        <div class="form-row">
            <div class="col fieldWrapper">
                <label for="{{ form.first_name.id_for_label }}" class="col-form-label-sm">First Name</label>
                {{ form.first_name }}
            </div>
            <div class="col fieldWrapper">
                <label for="{{ form.last_name.id_for_label }}" class="col-form-label-sm">Last Name</label>
                {{ form.last_name }}
            </div>
        </div>
        <div class="form-row">
            <div class="col fieldWrapper">
                <label for="{{ form.gender.id_for_label }}" class="col-form-label-sm">Gender</label>
                {{ form.gender }}
            </div>
            <div class="col fieldWrapper" id="bday">
                <label for="{{ form.birth_date.id_for_label }}" class="col-form-label-sm">Birth Day</label>
                {{ form.birth_date }}
            </div>
            <div class="col fieldWrapper">
                <label for="{{ form.status.id_for_label }}" class="col-form-label-sm">Status</label>
                {{ form.status }}
            </div>
        </div>
        <div class="form-row">
            <div class="col fieldWrapper">
                <label for="{{ form.mail.id_for_label }}" class="col-form-label-sm">E-mail</label>
                {{ form.mail }}
            </div>
            <div class="col fieldWrapper">
                <label for="{{ form.phone.id_for_label }}" class="col-form-label-sm">Phone number</label>
                {{ form.phone }}
            </div>
        </div>
        <div class="form-row">
            <div class="col fieldWrapper">
                <label for="{{ form.hourly_rate.id_for_label }}" class="col-form-label-sm">Hourly rate</label>
                {{ form.hourly_rate }}
            </div>
            <div class="col fieldWrapper">
                <label for="{{ form.employment_type.id_for_label }}" class="col-form-label-sm">Employment type</label>
                {{ form.employment_type }}
            </div>
        </div>
        <div class="form-row">
            <div class="col fieldWrapper">
                <label for="{{ form.notes.id_for_label }}" class="col-form-label-sm">Notes</label>
                {{ form.notes }}
            </div>
        </div>
    </form>
{% endblock %}