{% extends 'control_panel/main.html' %}
{% block site_name %}Activities{% endblock %}
{% block content %}
    <div class="window">
        <div class="heading">
            <div>
                <h3>Activities Table</h3>
                <small>Shows all activities</small>
            </div>
            <div class="search-bar">
                <button type="submit" form="search-query" class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <form id="search-query" method="GET" action="#">
                    <label>
                        <input class="form-control" type="text" name="search_query" placeholder="search..."
                            {% if search_query %} value="{{ search_query }}"{% endif %}/>
                    </label>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Prefix</th>
                <th scope="col">Level</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
                <tr>
                    <th scope="row">{{ forloop.counter0 | add:1 }}</th>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity }}</td>
                    <td>{{ activity.get_level_display }}</td>
                    <td>{{ activity.description }}</td>
                    <td>
                        <a href="">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#delete-activity-{{ activity.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for activity in activities %}
        <div class="modal fade" id="delete-activity-{{ activity.id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-member-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-activity-label">Delete activity?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete activity {{ activity }}?
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="{% url 'delete_activity' activity.pk %}" class="btn btn-primary my-btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}