{% extends 'control_panel/main.html' %}
{% block site_name %}CALENDAR{% endblock %}
{% block content %}
    <div class="window">
        <div class="heading">
            <div>
                <h3>Calendar</h3>
                <small></small>
            </div>
            <div>
            </div>
        </div>
        <table class="table" id="calendar">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
            </thead>
            <tbody>
            {% for hour, days in calendar.items %}
                <tr>
                    <th scope="row">{{ hour|date:"H:i" }}</th>
                    {% for groups in days.values %}
                        <td width="500">
                            {% for group in groups %}
                                <a href="{% url 'group' group.pk %}">
                                    <div style="background-color: {{ group.color }}">
                                        <small>{{ group.activity }}</small>
                                        <br>
                                        <small>{{ group.get_level_display }}</small>
                                        <br>
                                        <small>{{ group.trainer }}</small>
                                    </div>
                                </a>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}