{% extends 'control_panel/main.html' %}
{% block site_name %}GROUP{% endblock %}
{% block content %}
    <div class="profile" xmlns="http://www.w3.org/1999/html">
        <div class="first-col">
            <div class="window">
                <div class="profile-info">
                    <div class="profile-boxes">
                        <div>
                            <a href="mailto:{% for member in group.members.all %}{{ member.mail }};{% endfor %}?subject=Mail from Fit Studio">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <small>Send group<br>message</small>
                        </div>
                        <div>
                            <a href="" data-toggle="modal" data-target="#group-member">
                                <i class="fas fa-users"></i>
                            </a>
                            <small>Update<br>members</small>
                        </div>
                        <div>
                            <a href="" data-toggle="modal" data-target="#delete-group">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <small>Delete<br>group</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="window">
                <div class="heading">
                    <h4>Members</h4>
                </div>
                <ul class="list-group profile-list">
                    {% for member in group.members.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'member' member.pk %}"><i class="fas fa-user"></i>{{ member }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            No members assigned to this group
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="second-col">
            <div class="window profile-details">
                <div class="heading">
                    <h4>Details</h4>
                    <button class="btn btn-sm btn-outline-secondary upd-btn" id="update-group-btn"
                            data-pk="{{ group.pk }}" style="display: none;">
                        save changes
                    </button>
                </div>
                <form id="update-group-form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.activity.id_for_label }}" class="col-form-label-sm">Activity</label>
                            {{ form.activity }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ form.trainer.id_for_label }}" class="col-form-label-sm">Trainer</label>
                            {{ form.trainer }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.max_capacity.id_for_label }}" class="col-form-label-sm">Max capacity</label>
                            {{ form.max_capacity }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ form.level.id_for_level }}" class="col-form-label-sm">Level</label>
                            {{ form.level }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.color.id_for_label }}" class="col-form-label-sm">Color</label>
                            {{ form.color }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ form.class_time.id_for_label }}" class="col-form-label-sm">Class
                                time</label>
                            {{ form.class_time }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.days.id_for_label }}" class="col-form-label-sm">Days</label>
                            {{ form.days }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#DELETE GROUP MODAL#}
    <div class="modal fade" id="delete-group" tabindex="-1" role="dialog" aria-labelledby="delete-group-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-group-label">Delete member?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this group?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                    <a href="{% url 'delete' 'groups' group.pk %}" class="btn btn-primary my-btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {#GROUP MEMBER MODAL#}
    <div class="modal fade" id="group-member" tabindex="-1" role="dialog" aria-labelledby="group-member-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="group-member-label">Group members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col fieldWrapper">
                                <label for="{{ members_form.members.id_for_label }}" class="col-form-label-sm"></label>
                                {{ members_form.members }}
                                <small class="invalid-input"></small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                    <a href="" class="btn btn-primary my-btn">Update</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}