{% extends 'control_panel/main.html' %}
{% block site_name %}GROUPS{% endblock %}
{% block content %}
    <div class="window">
        <div class="heading">
            <div>
                <h3>Groups Table</h3>
                <small>Shows all groups</small>
            </div>
            <div class="search-bar">
                <button type="submit" form="search-query" class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <form id="search-query" method="GET" action="#">
                    <label>
                        <input class="form-control" type="text" name="search_query" placeholder="search..."
                            {% if search_query %} value="{{ search_query }}"{% endif %}/>
                    </label>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Color</th>
                <th scope="col">Capacity</th>
                <th scope="col">Activity</th>
                <th scope="col">Trainer</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <th scope="row">{{ forloop.counter0 | add:1 }}</th>
                    <td>{{ group }}</td>
                    <td><div class="group-color" style="background-color: {{ group.get_color_display }};"></div></td>
                    <td>{{ group.max_capacity }}</td>
                    <td>{{ group.activity.name }}</td>
                    <td>{{ group.trainer }}</td>
                    <td>
                        <a href="{% url 'group' group.id %}">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#delete-group-{{ group.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for group in groups %}
        <div class="modal fade" id="delete-group-{{ group.id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-group-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-group-label">Delete group?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete group {{ group }}?
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="{% url 'delete' 'groups' group.pk %}" class="btn btn-primary my-btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}