{% extends 'control_panel/main.html' %}
{% load tools %}
{% block site_name %}GROUPS{% endblock %}
{% block content %}
    <div class="window">
        <div class="heading">
            <div>
                <h3>Groups Table</h3>
                <small>Groups found: {{ groups.paginator.count }}</small>
            </div>
            <div class="search-bar">
                <button type="submit" form="search-query" class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <form id="search-query" method="GET" action="#">
                    <label>
                        <input class="form-control" type="text" name="search_query" placeholder="search..."
                                {% if search_query %} value="{{ search_query }}"{% endif %}/>
                    </label>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Color</th>
                <th scope="col">Capacity</th>
                <th scope="col">Activity</th>
                <th scope="col">Trainer</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    {% if groups.number == 1 %}
                        <th scope="row">{{ forloop.counter }}</th>
                    {% else %}
                        <th scope="row">{{ forloop.counter | show_index:groups.number }}</th>
                    {% endif %}
                    <td>{{ group }}</td>
                    <td>{{ group.get_level_display }}</td>
                    <td>
                        <div class="group-color" style="background-color: {{ group.color }};"></div>
                    </td>
                    <td>{{ group.max_capacity }}</td>
                    <td>{{ group.activity.name }}</td>
                    <td>{{ group.trainer }}</td>
                    <td>
                        <a href="{% url 'group' group.id %}">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#delete-group-{{ group.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th scope="row" colspan="7">
                    {% if groups.has_other_pages %}
                        <nav aria-label="navigation" class="mt-2">
                            <ul class="pagination justify-content-center">
                                {% if groups.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ groups.previous_page_number }}{{ get_variables }}"
                                           class="page-link previous">&lt;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link previous">&lt;</span>
                                    </li>
                                {% endif %}
                                {% for page in groups.paginator.page_range %}
                                    {% if groups.number == page %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ page }}</span><span
                                                class="sr-only">(current)</span>
                                        </li>
                                    {% else %}

                                        {% if page <= groups.number|add:5 and page >= groups.number|add:-5 %}

                                            <li class="page-item">
                                                <a href="?page={{ forloop.counter }}{{ get_variables }}"
                                                   class="page-link">{{ forloop.counter }}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if groups.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ groups.next_page_number }}{{ get_variables }}"
                                           class="page-link next">&gt;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link next">&gt;</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    {% for group in groups %}
        <div class="modal fade" id="delete-group-{{ group.id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-group-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-group-label">Delete group?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete group {{ group }}?
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="{% url 'delete' 'groups' group.pk %}" class="btn btn-primary my-btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}