<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "/stylesheet.css" %}">
</head>
<body>
<div class="container-fluid">
    <div class="row" id="first-row">
        <div class="col-2 logo">
            <a href="#" class="text-center">Studio Name</a>
        </div>
        <div class="col nav-bar">
            <p id="category">{% block site_name %}HOME{% endblock %}</p>
            <ul>
                <li>
                    <div class="dropdown">
                        <a role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" href="#"
                           data-toggle="dropdown">
                            <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="bottom" title="Add"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-member">Add member</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-trainer">Add trainer</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-product">Add product</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-activity">Add activity</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-group">Add group</a>
                        </div>
                    </div>
                </li>
                {#                <li>#}
                {#                    <a href="#">#}
                {#                        <i class="fas fa-envelope" data-toggle="tooltip" data-placement="bottom" title="Messages"></i>#}
                {#                    </a>#}
                {#                </li>#}
                <li>
                    <a href="{% url 'map' %}">
                        <i class="fas fa-map-marked-alt" data-toggle="tooltip" data-placement="bottom" title="Map"></i>
                    </a>
                </li>
                {#                <li>#}
                {#                    <a href="#">#}
                {#                        <i class="fas fa-bell" data-toggle="tooltip" data-placement="bottom" title="Reminders"></i>#}
                {#                    </a>#}
                {#                </li>#}
                <li>
                    {% if request.user and request.user.pk %}
                        <a href="{% url 'edit_user' request.user.pk %}">
                            <i class="fa fa-cogs" data-toggle="tooltip" data-placement="bottom" title="Profile"></i>
                        </a>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'logout' %}" data-toggle="tooltip">
                        <i class="fa fa-power-off" data-placement="bottom" title="Logout"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="second-row">
        <div class="col-2 side-bar">
            <a href="{% url 'members' %}"><i class="fas fa-user"></i>Members</a>
            <a href="{% url 'trainers' %}"><i class="fas fa-user-graduate"></i>Trainers</a>
            <a href="{% url 'products' %}"><i class="fab fa-product-hunt"></i>Products</a>
            <a href="{% url 'activities' %}"><i class="fas fa-clipboard-list"></i>Activities</a>
            <a href="{% url 'groups' %}"><i class="fa fa-users"></i>Groups</a>
        </div>
        <div class="col">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row" id="third-row">
        <div class="col-2 side-bar"></div>
        <div class="col" id="footer"></div>
    </div>
</div>

<div class="modal fade" id="add-member" tabindex="-1" role="dialog" aria-labelledby="add-member-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-member-label">Add member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-member-form">
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.first_name.id_for_label }}" class="col-form-label-sm">First
                                Name</label>
                            {{ member_form.first_name }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.last_name.id_for_label }}" class="col-form-label-sm">Last
                                Name</label>
                            {{ member_form.last_name }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.gender.id_for_label }}"
                                   class="col-form-label-sm">Gender</label>
                            {{ member_form.gender }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper" id="bday">
                            <label for="{{ member_form.birth_date.id_for_label }}" class="col-form-label-sm">Birth
                                Day</label>
                            {{ member_form.birth_date }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.status.id_for_label }}"
                                   class="col-form-label-sm">Status</label>
                            {{ member_form.status }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.mail.id_for_label }}"
                                   class="col-form-label-sm">E-mail</label>
                            {{ member_form.mail }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.phone.id_for_label }}" class="col-form-label-sm">Phone
                                number</label>
                            {{ member_form.phone }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.notes.id_for_label }}"
                                   class="col-form-label-sm">Notes</label>
                            {{ member_form.notes }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                </form>
                <p class="mem-success">Member was added correctly</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary mem-next" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary my-btn mem-next" id="add-member-btn">Add</a>
                <a href="{% url 'members' %}" class="btn btn-primary my-btn mem-success">OK</a>
            </div>
        </div>
    </div>
</div>


<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "/map.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
<script type="text/javascript" src="{% static "/app.js" %}"></script>
<script type="text/javascript" src="{% static "/ajax.js" %}"></script>
</body>
</html>