<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href= "{% static "../static/stylesheet.css" %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "../static/app.js" %}"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand">inSpiral Pole Dance Studio</a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user and request.user.pk %}
                    <li><a href="{% url 'edit_user' request.user.pk %}">{{ request.user.first_name | title}}</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-sm-2 col-md-2">
        <ul class="nav nav-pills nav-stacked">

            <li><a class="pretty" href="{% url 'show_members' %}">Użytkownicy</a></li>
            <li><a class="pretty" href="{% url 'show_trainers' %}">Instruktorzy</a></li>
            <li><a class="pretty" href="{% url 'show_products' %}">Produkty</a></li>
            <li><a class="pretty" href="{% url 'show_groups' %}">Grupy</a></li>
            <li><a class="pretty" href="{% url 'show_schedule' %}">Grafik</a></li>
            <li><a class="pretty" href="{% url 'show_unpaid' %}">Finanse</a></li>
            <li>
                <a class="pretty dropdown_item" href="">Dodaj</a>
                <ul class="nav nav-pills nav-stacked hidden" id="content">
                    <li><a href="{% url 'create_member' %}">Nowy użytkownik</a></li>
                    <li><a href="{% url 'create_trainer' %}">Nowy instruktor</a></li>
                    <li><a href="{% url 'create_product' %}">Nowy produkt</a></li>
                    <li><a href="{% url 'create_group' %}">Nowa grupa</a></li>
                </ul>
            </li>

        </ul>
    </div>

    <div class="col-sm-10 col-md-10">
        {% block content %}

        {% endblock %}
    </div>
</div>

</body>
</html>