<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "/stylesheet.css" %}">
</head>
<body>
<div class="container-fluid">
    <div class="row" id="first-row">
        <div class="col-2 logo">
            <a href="#" class="text-center">Studio Name</a>
        </div>
        <div class="col nav-bar">
            <p id="category">{% block site_name %}HOME{% endblock %}</p>
            <ul>
                <li>
                    <div class="dropdown">
                        <a role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" href="#"
                           data-toggle="dropdown">
                            <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="bottom" title="Add"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-member">Add
                                member</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-trainer">Add
                                trainer</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-group">Add group</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-product">Add
                                product</a>
                        </div>
                    </div>
                </li>
                {#                <li>#}
                {#                    <a href="#">#}
                {#                        <i class="fas fa-envelope" data-toggle="tooltip" data-placement="bottom" title="Messages"></i>#}
                {#                    </a>#}
                {#                </li>#}
                <li>
                    <a href="{% url 'map' %}">
                        <i class="fas fa-map-marked-alt" data-toggle="tooltip" data-placement="bottom" title="Map"></i>
                    </a>
                </li>
                {#                <li>#}
                {#                    <a href="#">#}
                {#                        <i class="fas fa-bell" data-toggle="tooltip" data-placement="bottom" title="Reminders"></i>#}
                {#                    </a>#}
                {#                </li>#}
                <li>
                    {% if request.user and request.user.pk %}
                        <a href="{% url 'settings' request.user.pk %}">
                            <i class="fa fa-cogs" data-toggle="tooltip" data-placement="bottom" title="Settings"></i>
                        </a>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'logout' %}" data-toggle="tooltip">
                        <i class="fa fa-power-off" data-placement="bottom" title="Logout"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="second-row">
        <div class="col-2 side-bar">
            <a href="{% url 'members' %}"><i class="fas fa-user"></i>Members</a>
            <a href="{% url 'trainers' %}"><i class="fas fa-user-graduate"></i>Trainers</a>
            <a href="{% url 'groups' %}"><i class="fa fa-users"></i>Groups</a>
            <a href="{% url 'products' %}"><i class="fab fa-product-hunt"></i>Products</a>
            <a href="{% url 'calendar' %}"><i class="far fa-calendar-alt"></i>Calendar</a>
        </div>
        <div class="col">
            <div class="content">
                <div class="alert alert-success" id="success-alert" style="display: none"></div>
                <div class="alert alert-danger" id="failure-alert" style="display: none"></div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row" id="third-row">
        <div class="col-2 side-bar"></div>
        <div class="col" id="footer"></div>
    </div>
</div>
{# MEMBER MODAL #}
<div class="modal fade" id="add-member" tabindex="-1" role="dialog" aria-labelledby="add-member-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-member-label">Add member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-member-form">
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.first_name.id_for_label }}" class="col-form-label-sm">First
                                Name*</label>
                            {{ member_form.first_name }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.last_name.id_for_label }}" class="col-form-label-sm">Last
                                Name*</label>
                            {{ member_form.last_name }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.gender.id_for_label }}"
                                   class="col-form-label-sm">Gender</label>
                            {{ member_form.gender }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper date-picker">
                            <label for="{{ member_form.birth_date.id_for_label }}" class="col-form-label-sm">Birth
                                Day</label>
                            {{ member_form.birth_date }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.status.id_for_label }}"
                                   class="col-form-label-sm">Status</label>
                            {{ member_form.status }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.mail.id_for_label }}"
                                   class="col-form-label-sm">E-mail*</label>
                            {{ member_form.mail }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.phone.id_for_label }}" class="col-form-label-sm">Phone
                                number*</label>
                            {{ member_form.phone }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ member_form.notes.id_for_label }}"
                                   class="col-form-label-sm">Notes</label>
                            {{ member_form.notes }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary my-btn" id="add-member-btn" data-dismiss="modal">Add</a>
            </div>
        </div>
    </div>
</div>
{# TRAINER MODAL #}
<div class="modal fade" id="add-trainer" tabindex="-1" role="dialog" aria-labelledby="add-trainer-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-trainer-label">Add trainer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.first_name.id_for_label }}" class="col-form-label-sm">First
                                Name</label>
                            {{ trainer_form.first_name }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.last_name.id_for_label }}" class="col-form-label-sm">Last
                                Name</label>
                            {{ trainer_form.last_name }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.gender.id_for_label }}"
                                   class="col-form-label-sm">Gender</label>
                            {{ trainer_form.gender }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper date-picker">
                            <label for="{{ trainer_form.birth_date.id_for_label }}" class="col-form-label-sm">Birth
                                Day</label>
                            {{ trainer_form.birth_date }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.status.id_for_label }}"
                                   class="col-form-label-sm">Status</label>
                            {{ trainer_form.status }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.mail.id_for_label }}"
                                   class="col-form-label-sm">E-mail</label>
                            {{ trainer_form.mail }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.phone.id_for_label }}" class="col-form-label-sm">Phone
                                number</label>
                            {{ trainer_form.phone }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.hourly_rate.id_for_label }}"
                                   class="col-form-label-sm">Hourly rate</label>
                            {{ trainer_form.hourly_rate }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.employment_type.id_for_label }}" class="col-form-label-sm">Employment
                                type</label>
                            {{ trainer_form.employment_type }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ trainer_form.notes.id_for_label }}"
                                   class="col-form-label-sm">Notes</label>
                            {{ trainer_form.notes }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary my-btn" data-dismiss="modal">Add</a>
            </div>
        </div>
    </div>
</div>
{# GROUP MODAL #}
<div class="modal fade" id="add-group" tabindex="-1" role="dialog" aria-labelledby="add-group-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-group-label">Add group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ group_form.activity.id_for_label }}"
                                   class="col-form-label-sm">Activity</label>
                            {{ group_form.activity }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ group_form.trainer.id_for_label }}" class="col-form-label-sm">Trainer</label>
                            {{ group_form.trainer }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ group_form.max_capacity.id_for_label }}"
                                   class="col-form-label-sm">Size</label>
                            {{ group_form.max_capacity }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ group_form.level.id_for_label }}"
                                   class="col-form-label-sm">Level</label>
                            {{ group_form.level }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper" id="bday">
                            <label for="{{ group_form.color.id_for_label }}" class="col-form-label-sm">Color</label>
                            {{ group_form.color }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ group_form.class_time.id_for_label }}"
                                   class="col-form-label-sm">Class time</label>
                            {{ group_form.class_time }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col fieldWrapper">
                            <label for="{{ group_form.days.id_for_label }}" class="col-form-label-sm">Days</label>
                            {{ group_form.days }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary my-btn" data-dismiss="modal">Add</a>
            </div>
        </div>
    </div>
</div>
{# PRODUCT MODAL #}
<div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="add-product-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-label">Add product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.type.id_for_label }}" class="col-form-label-sm">Type</label>
                            {{ product_form.type }}
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.partner_name.id_for_label }}"
                                   class="col-form-label-sm">Partner Name</label>
                            {{ product_form.partner_name }}
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.activity.id_for_label }}"
                                   class="col-form-label-sm">Activity</label>
                            {{ product_form.activity }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.validity.id_for_label }}"
                                   class="col-form-label-sm">Validity</label>
                            {{ product_form.validity }}
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.available_entries.id_for_label }}" class="col-form-label-sm">Available
                                entries</label>
                            {{ product_form.available_entries }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.price.id_for_label }}"
                                   class="col-form-label-sm">Price</label>
                            {{ product_form.price }}
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.deposit.id_for_label }}"
                                   class="col-form-label-sm">Deposit</label>
                            {{ product_form.deposit }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.entry_surcharge.id_for_label }}"
                                   class="col-form-label-sm">Entry Surcharge</label>
                            {{ product_form.entry_surcharge }}
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ product_form.absence_surcharge.id_for_label }}" class="col-form-label-sm">Absence
                                Surcharge</label>
                            {{ product_form.absence_surcharge }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary my-btn" data-dismiss="modal">Add</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "/map.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
<script type="text/javascript" src="{% static "/app.js" %}"></script>
<script type="text/javascript" src="{% static "/ajax.js" %}"></script>
</body>
</html>