{% extends 'control_panel/main.html' %}
{% block site_name %}MEMBER{% endblock %}
{% block content %}
    {% if warning %}
    <div class="alert alert-warning" id="warning-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Warning! </strong> The last pass was not paid!
    </div>
    {% endif %}
    <div class="profile" data-member-pk="{{ member.pk }}">
        <div class="first-col">
            <div class="window">
                <div class="profile-info">
                    <div>
                        <img src="{{ member.img.url }}" alt="..." width="110" height="110">
                        <h4>{{ member.first_name }} {{ member.last_name }}</h4>
                    </div>
                    <div class="profile-boxes">
                        <div>
                            <small>Passes</small>
                            <h6>{{ member.passes.all.count }}</h6>
                        </div>
                        <div>
                            <small>Entries</small>
                            <h6>{{ entries_count }}</h6>
                        </div>
                        <div>
                            <small>Spent</small>
                            <h6>{{ payments_count }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="window">
                <div class="profile-info">
                    <div class="profile-boxes">
                        <div>
                            <a href="mailto:{{ member.mail }}?subject=Mail from Fit Studio">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <small>Message</small>
                        </div>
                        <div>
                            <a href="" data-toggle="modal" data-target="#group-member">
                                <i class="fas fa-users"></i>
                            </a>
                            <small>Groups</small>
                        </div>
                        <div>
                            <a href="" data-toggle="modal" data-target="#delete-member">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <small>Delete</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="window">
                <div class="heading">
                    <h4>Groups</h4>
                </div>
                <ul class="list-group profile-list">
                    {% for group in member.group_set.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'group' group.pk %}"><i class="fas fa-users"></i>{{ group }}</a>
                            <span class="badge badge-primary badge-pill group-count">{{ group.members.count }}</span>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            not assigned to any group
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="second-col">
            <div class="window profile-details">
                <div class="heading">
                    <h4>Profile</h4>
                    <button class="btn btn-sm btn-outline-secondary upd-btn" id="update-member-btn"
                            style="display: none;">
                        save changes
                    </button>
                </div>
                <form id="update-member-form">
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.first_name.id_for_label }}" class="col-form-label-sm">First
                                Name</label>
                            {{ form.first_name }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ form.last_name.id_for_label }}" class="col-form-label-sm">Last
                                Name</label>
                            {{ form.last_name }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.gender.id_for_label }}" class="col-form-label-sm">Gender</label>
                            {{ form.gender }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper date-picker">
                            <label for="{{ form.birth_date.id_for_label }}" class="col-form-label-sm">Birth
                                Day</label>
                            {{ form.birth_date }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ form.status.id_for_label }}" class="col-form-label-sm">Status</label>
                            {{ form.status }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.mail.id_for_label }}" class="col-form-label-sm">E-mail</label>
                            {{ form.mail }}
                            <small class="invalid-input"></small>
                        </div>
                        <div class="col fieldWrapper">
                            <label for="{{ form.phone.id_for_label }}" class="col-form-label-sm">Phone
                                number</label>
                            {{ form.phone }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col fieldWrapper">
                            <label for="{{ form.notes.id_for_label }}" class="col-form-label-sm">Notes</label>
                            {{ form.notes }}
                            <small class="invalid-input"></small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="window profile-payments">
                <div class="heading">
                    <h4>Passes</h4>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                            data-target="#add-pass">add pass
                    </button>
                </div>
                <table class="table table-striped" id="pass-table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Entries</th>
                        <th scope="col">Price</th>
                        <th scope="col">Paid</th>
                        <th scope="col" colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pass in passes %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ pass.product }}</td>
                            <td>{{ pass.start_date | date:"Y-m-d" }}</td>
                            <td>{{ pass.end_date | date:"Y-m-d" }}</td>
                        {% if pass.product.available_entries %}
                            <td>{{ pass.entries.all.count }}/{{ pass.product.available_entries }}</td>
                        {% else %}
                            <td>&infin;</td>
                        {% endif %}
                            <td>{{ pass.product.price }}</td>
                            <td>{% if pass.paid %}Opłacony{% else %}Nieopłacony{% endif %}</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#update-pass-{{ pass.pk }}">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </td>
                            <td><a href="{% url 'delete' 'pass' pass.pk %}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <th scope="row" colspan="7">No passes bought</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#  DELETE MEMBER MODAL  #}
    <div class="modal fade" id="delete-member" tabindex="-1" role="dialog" aria-labelledby="delete-member-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-member-label">Delete member?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this member?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                    <a href="{% url 'delete' 'members' member.pk %}" class="btn btn-primary my-btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {#  ADD PASS MODAL  #}
    <div class="modal fade" id="add-pass" tabindex="-1" role="dialog" aria-labelledby="add-pass-label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-member-label">Add pass</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-pass-form">
                        <div class="form-row">
                            <div class="col fieldWrapper">
                                <label for="{{ pass_form.product.id_for_label }}"
                                       class="col-form-label-sm">Product</label>
                                {{ pass_form.product }}
                                <small class="invalid-input"></small>
                            </div>
                        </div>
                        <div class="form-row date-picker">
                            <div class="col fieldWrapper">
                                <label for="{{ pass_form.start_date.id_for_label }}"
                                       class="col-form-label-sm">From</label>
                                {{ pass_form.start_date }}
                                <small class="invalid-input"></small>
                            </div>
                            <div class="col fieldWrapper">
                                <label for="{{ pass_form.end_date.id_for_label }}" class="col-form-label-sm">To</label>
                                {{ pass_form.end_date }}
                                <small class="invalid-input"></small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col fieldWrapper">
                                <label for="price" class="col-form-label-sm">Price</label>
                                <input type="text" name="price" id="price" class="form-control" disabled>
                            </div>
                            <div class="col fieldWrapper">
                                <label for="{{ pass_form.paid.id_for_label }}" class="col-form-label-sm">Paid</label>
                                <br>
                                {{ pass_form.paid }}
                                <small class="invalid-input"></small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                    <a href="{% url 'member' member.pk %}" class="btn btn-primary my-btn" id="add-pass-btn">Add</a>
                </div>
            </div>
        </div>
    </div>
    {#  UPDATE PASS MODAL  #}
    {% for key, form in pass_forms.items %}
        <div class="modal fade" id="update-pass-{{ key }}" tabindex="-1" role="dialog"
             aria-labelledby="update-pass-label"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="update-pass-label">Update pass</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="update-pass-form-{{ key }}" data-pass-pk="{{ key }}">
                            <div class="form-row">
                                <div class="col fieldWrapper">
                                    <label for="{{ form.product.id_for_label }}"
                                           class="col-form-label-sm">Product</label>
                                    {{ form.product }}
                                    <small class="invalid-input"></small>
                                </div>
                            </div>
                            <div class="form-row date-picker">
                                <div class="col fieldWrapper">
                                    <label for="{{ form.start_date.id_for_label }}"
                                           class="col-form-label-sm">From</label>
                                    {{ form.start_date }}
                                    <small class="invalid-input"></small>
                                </div>
                                <div class="col fieldWrapper">
                                    <label for="{{ form.end_date.id_for_label }}" class="col-form-label-sm">To</label>
                                    {{ form.end_date }}
                                    <small class="invalid-input"></small>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col fieldWrapper">
                                    <label for="price" class="col-form-label-sm">Price</label>
                                    <input type="text" name="price" id="price" class="form-control" disabled>
                                </div>
                                <div class="col fieldWrapper">
                                    <label for="{{ form.paid.id_for_label }}" class="col-form-label-sm">Paid</label>
                                    <br>
                                    {{ form.paid }}
                                    <small class="invalid-input"></small>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary my-btn" id="update-pass-btn" data-dismiss="modal">Update</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}