{% extends 'control_panel/main.html' %}
{% block site_name %}TRAINERS{% endblock %}
{% block content %}
    <div class="window">
        <div class="heading">
            <div>
                <h3>Trainers Table</h3>
                <small>Shows all trainers</small>
            </div>
            <div class="search-bar">
                <button type="submit" form="search-query" class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <form id="search-query" method="GET" action="#">
                    <label>
                        <input class="form-control" type="text" name="search_query" placeholder="search..."
                            {% if search_query %} value="{{ search_query }}"{% endif %}/>
                    </label>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone number</th>
                <th scope="col">E-mail</th>
                <th scope="col">Status</th>
                <th scope="col">Groups</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trainer in trainers %}
                <tr>
                    <th scope="row">{{ forloop.counter0 | add:1 }}</th>
                    <td>{{ trainer }}</td>
                    <td>{{ trainer.phone }}</td>
                    <td>{{ trainer.mail }}</td>
                    <td>{{ trainer.get_status_display }}</td>
                    <td>{{ trainer.groups.all|length }}</td>
                    <td>
                        <a href="{% url 'trainer' trainer.id %}">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#delete-trainer-{{ trainer.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for trainer in trainers %}
        <div class="modal fade" id="delete-trainer-{{ trainer.id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-trainer-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-trainer-label">Delete trainer?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete trainer {{ trainer }}?
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="{% url 'delete' 'trainers' trainer.pk %}" class="btn btn-primary my-btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}