{% extends 'control_panel/main.html' %}
{% block site_name %}TRAINERS{% endblock %}
{% block content %}
    <div class="window">
        <div class="headings">
            <h3>Trainers Table</h3>
            <small>Shows all trainers</small>
        </div>
        <div class="search-bar">
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            <label>
                <input class="form-control" type="text" placeholder="search..."/>
            </label>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Status</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody class="members">
            {% for trainer in trainers %}
                <tr>
                    <th scope="row">{{ forloop.counter0 | add:1 }}</th>
                    <td>{{ trainer }}</td>
                    <td>{{ trainer.phone }}</td>
                    <td>{{ trainer.mail }}</td>
                    <td>{{ trainer.get_status_display }}</td>
                    <td><a href="{% url 'trainer' trainer.id %}"><i class="fa fa-info-circle"></i></a></td>
                    <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}