{% extends 'control_panel/main.html' %}
{% load tools %}
{% block site_name %}TRAINERS{% endblock %}
{% block content %}
    <div class="window">
        <div class="heading">
            <div>
                <h3>Trainers Table</h3>
                <small>Trainers found: {{ trainers.paginator.count }}</small>
            </div>
            <div class="search-bar">
                <button type="submit" form="search-query" class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <form id="search-query" method="GET" action="#">
                    <label>
                        <input class="form-control" type="text" name="search_query" placeholder="search..."
                                {% if search_query %} value="{{ search_query }}"{% endif %}/>
                    </label>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full name</th>
                <th scope="col">Phone number</th>
                <th scope="col">E-mail</th>
                <th scope="col">Status</th>
                <th scope="col">Groups</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trainer in trainers %}
                <tr>
                    {% if trainers.number == 1 %}
                        <th scope="row">{{ forloop.counter }}</th>
                    {% else %}
                        <th scope="row">{{ forloop.counter | show_index:trainers.number }}</th>
                    {% endif %}
                    <td>{{ trainer }}</td>
                    <td>{{ trainer.phone }}</td>
                    <td>{{ trainer.mail }}</td>
                    <td>{{ trainer.get_status_display }}</td>
                    <td>{{ trainer.groups.all|length }}</td>
                    <td>
                        <a href="{% url 'trainer' trainer.id %}">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#delete-trainer-{{ trainer.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th scope="row" colspan="7">
                    {% if trainers.has_other_pages %}
                        <nav aria-label="navigation" class="mt-2">
                            <ul class="pagination justify-content-center">
                                {% if trainers.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ trainers.previous_page_number }}{{ get_variables }}"
                                           class="page-link previous">&lt;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link previous">&lt;</span>
                                    </li>
                                {% endif %}
                                {% for page in trainers.paginator.page_range %}
                                    {% if trainers.number == page %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ page }}</span><span
                                                class="sr-only">(current)</span>
                                        </li>
                                    {% else %}

                                        {% if page <= trainers.number|add:5 and page >= trainers.number|add:-5 %}

                                            <li class="page-item">
                                                <a href="?page={{ forloop.counter }}{{ get_variables }}"
                                                   class="page-link">{{ forloop.counter }}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if trainers.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ trainers.next_page_number }}{{ get_variables }}"
                                           class="page-link next">&gt;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link next">&gt;</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    {% for trainer in trainers %}
        <div class="modal fade" id="delete-trainer-{{ trainer.id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-trainer-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-trainer-label">Delete trainer?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete trainer {{ trainer }}?
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a href="{% url 'delete' 'trainers' trainer.pk %}" class="btn btn-primary my-btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}